*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


:root{
    --background-primary: #EFF5F5;
    --background-secondary: #1F8A70;
    --black-color: #181823;
    --details-color: #FC7300;
    --suplement-color: #00425A; 
}



/* CARAC HEADER */


/* Disposición y color de fondo */
header{
    background-color: var(--background-secondary);
    padding: 16px;
    text-align: center;
}


/* Display del logotipo */
.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 20px;
}


/* Resaltado cursor por encima */
.barraNavegacion li:hover {
    background-color: var(--details-color);
    border: 0;
    padding: 2px;
    transition: all 0.4s;
}



/* Tamaño de la imagen */
.logotipo img{
    max-width: 100%;
}

/* Color blanco */
nav a{
    color: var(--background-primary);
}


/* Display */
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}


/* Borde */
.barraNavegacion ul li{
    border: 1px solid var(--background-primary);
    padding: 2px;
}


/* Padding de la lista */
.barraNavegacion ul li a{
    font-weight: 600;
    padding: 10px;
}



/* MAIN */


/* Padding */
main{
    padding: 20px 0;
}


/* Display elementos */
main .info{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    justify-content: center;
    padding: 25px;
}

.info div{
    display: flex;
    flex-direction: column;
}

.info .contentInfo{
    padding-left: 30px
}

.info .titleInfo{
    display: flex;
    flex-direction: row;
}


/* Padding de horarios */
.contentInfo p{
    padding: 5px;
}


/* Color y tamaño de los iconos */
.iconosInfo{
    fill: var(--background-secondary);
    margin: 3px;
    width: 1.3rem;
}


/* Color de las letras */
.info{
    color: var(--background-secondary);
}



/* FOOTER */


/* Display, alineamiento, padding */
footer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
    padding: 20px;
}


/* Distribución, alineamiento */
footer section{
    flex: 1;
    margin:0 10px;
    text-align: center;
}



/* Carac. títulos */
.titulo{
    color: var(--background-secondary);
    margin: 0;
    padding: 10px 0;
}


/* Display íconos "Redes Sociales" */
#redesSociales{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}


/* Color/tamaño íconos */
.redes{
    fill:var(--background-secondary);
    width: 50px;
}


/* Resaltado de íconos */
.redes:hover{
    fill: var(--details-color);
    width: 60px;
    transition: all 0.6s;
}


/* Ocupamiento de Maps */
#ubicacion iframe{
    border: none;
    height: 200px;
    padding-top: 15px;
    width: 100%;
}


/* Display y tamaño letra de "Contacto" */
#contactos{
    color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 15px;
}


/* Color de íconos "Contacto" */
.contacto{
    fill: var(--background-secondary);
    width: 1.2rem;
}


/* Color de enlaces */
footer a{
    color: var(--background-secondary);
}


/* Resaltado de link en "Enviar correo" */
footer a:hover{
    color: var(--details-color);
    transition: all 0.3s;
}


@media (min-width: 673px){
    
/* Disposición de Dirección y Horarios */
    main .info{
        flex-direction: row;
    } 
}



@media (min-width: 768px) {

/* padding footer */
    .titulo{
        padding-bottom: 20px;
    }

/* Display íconos sección "Redes Sociales" */
    #redesSociales{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 30px;
    }

/* padding footer ubicación */
    #ubicacion iframe{
        padding-top: 0;
    }



/* Alineación de contenido footer */
    .contenidoFooter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }


/* Display de "CONTACTO" */
    .contenidoFooter:last-child div{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }


/* Espacio entre sus elementos */
    #contactos{
        padding: 20px 10px;
    }
}