*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


:root{
    --black-color: #181823;
    --details-color: #FC7300;
    --background-primary: #EFF5F5;
    --background-secondary: #1F8A70;
    --suplement-color: #00425A; 
}



/* CARAC HEADER */


/* Disposición y color de fondo */
header{
    margin: 5px;
    background-color: rgba(31, 138, 112, 0.9);
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 999;
}


/* Display del logotipo */
.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}


/* Resaltado cursor por encima */
.barraNavegacion li:hover {
    border: 0;
    background-color: var(--details-color);
    transition: all 0.3s;
}


/* Color blanco */
nav a{
    color: var(--background-primary);
}


/* Display */
.barraNavegacion ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}


/* Borde */
.barraNavegacion ul li{
    border: 1px solid var(--background-primary);
    padding: 2px;
}


/* Padding de la lista */
.barraNavegacion ul li a{
    padding: 10px;
    font-weight: 600;
}



/* MAIN */


/* Disposición y carac. del fondo */
main .encabezado{
    background-image: url(/img/imagen-fondo.jpg);
    height: 50rem;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--background-primary);
}


/* BOTON CONSULTA */
.encabezado a{
    color: var(--background-primary);
    background-color: var(--background-secondary);
    display: inline-block;
    font-size: 22px;
    padding: 8px;
    border-radius: 10%;
}


/* Resaltado del cursor por encima */
.encabezado a:hover{
    background-color: var(--details-color);
    transition: all 0.3s;
}



/* SECCIÓN QUIENES SOMOS */


/* Disposición y fondo img */
#quienesSomos div:first-child{
    background-image: url(/img/quienes-somos.jpg);
    height: 27rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* decoración TÍTULO */
#quienesSomos div h2{
    color: var(--background-primary);
    text-decoration: overline;
}


/* Padding */
#quienesSomos div:last-child{
    padding-left: 5px;
    padding-bottom: 20px;
}

.equipo p{
    padding-top: 9px;
}


/* Decoración subtítulos - "QUIENES SOMOS" y "¿POR QUÉ ELEGIRNOS?"*/
#quienesSomos h3, #elegirnos h3{
    padding-top: 20px;
    color: var(--background-secondary);
    text-decoration: overline;
    
}


/* Dispoisición info del equipo */
.equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}


/* Características de la imágen de equipo */
.equipo article img{
    padding-top: 30px;
    height: 18rem;
    border-radius: 100%;
}


/* Decoración de puesto */
.equipo p:last-child{
    color: var(--background-secondary);
    font-weight: 600;
}



/* SECCIÓN "¿POR QUÉ ELEGIRNOS?" */


/* Disposición y fondo img */
#elegirnos div .porqueElegirnos{
    background-image: url(/img/porque-elegirnos.jpg);
    height: 27rem;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Decoración título */
#elegirnos div .porqueElegirnos{
    color: var(--background-primary);
    text-decoration: overline;
}


/* PADDING */
#elegirnos div:nth-child(2){
    padding-left: 5px;
    padding-bottom: 20px;
}

#elegirnos div p{
    padding-top: 9px;
}



/* SECCIÓN "PROPUESTA EDUCATIVA" */


/* Color texto*/
#propuestaEducativa, #propuestaEducativa a{
    color: var(--background-secondary);
}


/* Alinear texto al medio */
#propuestaEducativa{
    text-align: center;
    margin: 20px;
}


/* Carac. título */
#propuestaEducativa h2{
    text-decoration: overline;
    padding-bottom: 20px;
}


/* Disposición de imágenes */
.propuestas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 20px;
}
  

/* Forma hexágono */
.hexagonContainer{
    width: 150px;
    height: 150px; 
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


/* Mantienen la forma de la imágen */
#propuestaEducativa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}


/* Resaltado del cursor hover */
#propuestaEducativa img:hover{
    filter: grayscale(0);
    transform: scale(2);
    transition: all 0.6s;
}

#propuestaEducativa h3:hover{
    color: var(--details-color);
}
  

/* Alineamiento de las propuestas */
.propuesta{
    flex: 0 0 150px;
}


/* margen de los títulos */
.propuesta h3{
    margin-top: 10px;
}
  


/* SECCIÓN "NOVEDADES" */


/* Carac. título */
#novedades h2{
    color: var(--background-primary);
    text-align: center;
    border: 1px solid var(--background-primary);
}


/* Color de fondo */
#novedades{
    background-color: var(--suplement-color);
}


/* Display novedades */
#novedades .novedades{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}


/* Color de títulos: artículos */
#novedades h3{
    color: var(--background-primary);
    padding-top: 10px;
}


/* Anchura de título */
#novedades span{
    font-weight: 100;
}


/* padding costados*/
#novedades div{
    padding: 10px;
}


/* Disposición del contenedor artículos */
.novedad{
    position: relative;
    margin: 0 auto;
    padding-bottom: 35px;
}


/* Salida de img cursor hover */
.novedad:hover{
    text-decoration: underline var(--background-primary);
    filter: grayscale(0.8);
    transition: all 0.6s;
}


/* Ocupación imágenes */
img{
    width: 100%;
    display: block;
}


/* Cartelito de la fecha */
.date{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(24, 24, 35, 0.7);
    color: var(--background-primary);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 998;
}



/* FOOTER */


/* Display, alineamiento, padding */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    gap: 30px;
}


/* Distribución, alineamiento */
footer section{
    flex: 1;
    margin:0 10px;
    text-align: center;
}


/* Carac. títulos */
.titulo{
    margin: 0;
    padding: 10px 0;
    color: var(--background-secondary);
}


/* Display íconos "Redes Sociales" */
#redesSociales{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}


/* Color/tamaño íconos */
.redes{
    width: 50px;
    fill:var(--background-secondary)
}


/* Resaltado de íconos */
.redes:hover{
    fill: var(--details-color);
    width: 60px;
    transition: all 0.6s;
}


/* Ocupamiento de Maps */
#ubicacion iframe{
    padding-top: 15px;
    width:100%;
    height:200px;
    border: none;
}


/* Display y tamaño letra de "Contacto" */
#contactos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--background-secondary);
    font-size: 1.1rem;
}


/* Color de íconos "Contacto" */
.contacto{
    width: 20px;
    fill: var(--background-secondary);
}


/* Color de enlaces */
footer a{
    color: var(--background-secondary);
}


/* Resaltado de link en "Enviar correo" */
footer a:hover{
    color: var(--details-color);
    transition: all 0.3s
}



@media (min-width: 768px) {
    
    /* Display sección novedades */
#novedades .novedades{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}


/* Tamaño de novedad */
.novedad{
    max-width: 30%;
}


/* Tamaño título */
.novedad h3{
    font-size: 1.1rem;
}

/* padding footer */
.titulo{
    padding-bottom: 20px;
}


/* Display íconos sección "Redes Sociales" */
#redesSociales{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
}


/* padding footer ubicación */
#ubicacion iframe{
    padding-top: 0;
}


/* Alineación de contenido footer */
.contenidoFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


/* Display de "CONTACTO" */
.contenidoFooter:last-child div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* Espacio entre sus elementos */
#contactos{
    padding-top: 20px;
    padding: 10px;
}
}